body {
    font-family: sans-serif;
    display: grid;
    margin: 0;
    padding: 0;
}

header.navbar {
    background-color: #f8f9fa;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

    ul {
        text-decoration: none;
        list-style: none;
        display: flex;
        gap: 25px;
        margin: 0;
        padding: 0;

        li {
            border-bottom: 3px solid rgb(149, 149, 250);
            border-radius: 3px;
            transition: 0.3s ease-in-out;
            padding: 5px;

            &:hover, &.selected {
                border-bottom: 3px solid blue;
                background-color: rgb(232, 231, 231);
                
            }
            a{
                text-decoration: none;
                color: rgb(149, 149, 250);
                transition: 0.3s ease-in-out;
                &:hover{
                    color: rgb(45, 45, 120);    
                }
            }
        }
    }
}

.images {
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-self: center;
    align-self: center;
    justify-content: center;

    img {
        height: auto;
        border-radius: 10px;
    }
}

footer {
    background-color: #f8f9fa;
    padding: 10px 20px;
    justify-self: center;
    align-self: center;
    text-align: center;
    width: 100vw;
}